<a href="https://colab.research.google.com/github/Economy21/Complete-Python-3-Bootcamp/blob/master/Lecture_1_(20201206).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print('Hello World!') #1st type of print

Hello World!

In [14]:
name = "Ammar Jamshed " #variable

In [8]:
print(name) #2nd type of print

Ammar Jamshed

In [9]:
print("Hi there: ", name) # 3rd type of print

Hi there:  Ammar Jamshed

In [11]:
print(5 * 6)

30

In [15]:
print(name * 6)

Ammar Jamshed Ammar Jamshed Ammar Jamshed Ammar Jamshed Ammar Jamshed Ammar Jamshed

In [17]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [19]:
#calculate remainder / also called modulus 
remainder = 11 % 3
print(remainder)

2

In [20]:
# squared 
squared = 7 ** 2
cube = 2 ** 3

In [21]:
print(squared)
print(cube)

49
8

In [22]:
name = input("Enter name: ")

Enter name: Ammar Jamshed

In [23]:
#concatenating strings using additional operators 
print("hello" + " " + "world")

hello world

In [24]:
print("hello", " " , "world")

hello   world

In [25]:
print("hello", " " , "world", 123)

hello   world 123

In [26]:
x = 123
y = "456"

In [27]:
print(x * 2)

246

In [28]:
print(y * 2) #with quotation a numeric will get converted into a string

456456